.footer {
  background: #000;
  color: #b93c3c;
  text-align: center;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; /* Añade espacio entre secciones */
}

.footer-links, .footer-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer h4 {
  margin-bottom: 5px;
}

.footer-link {
  color: #b93c3c;
  text-decoration: none;
  font-size: 1rem;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-copy {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #fff;
}
